*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    /* background-image: linear-gradient(rgb(14, 13, 13) ,rgb(77, 19, 19)); */
    background-color: black;
    background-repeat: repeat-x; 
    color: aliceblue;  
    font-family: sans-serif !important;
}

.default-ltr-cache-1d568uk {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
.btn-cont {
    display: flex;
    align-items: center;
    column-gap: 10px;
    /* margin-left: 10%; */
}
.ul1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.select1{
    font-size: 100%;
    height: 32px;
    /* width: 124.4px; */
    width: auto;
    padding: 5px;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
}
.btn1{
    height: 32px;
    
    /* width: 76.9px; */
    width:auto;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: none;
    font-size:100%;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 5px;
}
li{
    list-style-type: none;
}
.bkgimg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://assets.nflxext.com/ffe/siteui/vlv3/7a8c0067-a424-4e04-85f8-9e25a49a86ed/web/IN-en-20250120-TRIFECTA-perspective_860a95da-c386-446e-af83-fef8ddd80803_medium.jpg');
    background-size: cover;
}
/*article1*/
.article1{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    line-height: 40px;
    color: rgb(255,255,255);
    
}
.article1 h1{
    font-size: 3rem;
    line-height: 60px;
    
  
}
.article1 p{
    font-size:18px ;
}
.name1{
    font-size: 18px;
    padding: 8.5px;
    width: 408px;
    height:51px;
    font-size: 15px;
    background-color: black;
    color: white;
}
.button1{
    font-size:17px;
    padding: 10px;
    height:49px;
    background: rgb(229, 9, 20);
    border-radius:0.25rem;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 131px;
}
/*article2*/
.article2{
    margin-top: 100px;
    padding: 10px 113px;
}
.art2li{
    margin-top: 19px;
    display: flex
;
    gap: 1rem;
    color:whitesmoke; 
         
}
.arthead{
    font-size: 25px;
    font-family: sans-serif;
}
.art2li1 
{
    height: 32px;
    width: 124.4px;
    border-radius: 0.25rem;
    background-color: rgb(16, 15, 15);
    color: white;
    
}

.art2li2
{
    height: 32px;
    width: 124.4px;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
    
}
.cardbox{
    display: flex;
    gap: 1rem;
    overflow-x:scroll;
    overflow-y: hidden;
}
.card1{
    border-radius: 10px;
}
.item{
    border-radius: 8px;
    width: 190px;
    height: 270px;
    margin-right: 12px;
    margin-top: 23px;
    
}
.item:hover{
    transform: translate(4px,4px);
    
}
/*  */
.boxhead{
    margin-top: 20%;
    font-size: 40px;
}
.boxcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}
#box{
    margin-top: 10%;
    height: 319px;
    width: 260px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 18px;
    padding: 19px 23px;
    margin-right: 16px;
    position: relative;
    line-height: 23px;
}
#box p{
    margin-top: 25px;
    color: gray;
}
.icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/*article3*/
.article3{
    margin-top: 40px;
    padding: 40px 100px;
}

.boxhead{
    font-size: 25px;
    font-family: sans-serif;
    font-weight:bold;
    
}
#box h2{
    line-height: 50px;
}



.address{
    font-size: 18px;
    padding: 8.5px;
    width: 37%;
    font-size: 15px;
    background-color: black;
    color: white;
    margin-top: 2%;
}
.button2{
    font-size:14px;
    padding: 7px;
    height:38px;
    background: rgb(229, 9, 20);
    border-radius:0.25rem;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
/* */
.art3{
    margin-top: 100px;
    padding:14px 113px;

}
.art3 .head1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight:bold;
    margin-bottom: 40px;
}

.smallbox{
    font-size: 21px;
    border: 1px solid black;
    background-color: rgb(60, 59, 59);
    padding: 30px;
    height: 87px;
    margin-top: 12px;
    font-family:cursive;
    position: relative;
}
.smallbox:hover{
    background-color: rgb(93, 92, 92);
}
.inputbox{
    line-height: 40px;
    text-align: center;
}
.inputboxinside{
    margin-top: 60px;
}
/*footer*/
.footerhead{
    margin-top: 100px;
    padding: 14px 113px;
}
.footerpart
{
    display:grid;
    grid-template-columns: repeat(4,auto);
    text-decoration: underline;
    line-height: 25px;
    font-size: 17px;
}
.footerhead1{
    line-height: 100px;
}
.lastone{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.one{
    height: 32px;
    width: 124.4px;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
}
.lastpart{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-right: 18px;
    line-height: 20px;
}
.span1{
    top: 18px;
    position: absolute;
    right: 25px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;

}
@media (max-width:480px){
    /* nv */
    .default-ltr-cache-1d568uk {
        width: 6.25rem;
        height: 5.5rem;
        color: rgb(229, 9, 20);
        fill: currentColor;
        display: block;
        margin-left: -31px;
    }
    /* .btn-cont {
        display: flex;
        align-items: center;
        column-gap: 11px;
        margin-left: 81px;
    }
    .ul1 {
        padding: 5px 66px 28px;
    } */
/* article1 */
.article1 h1 {
    font-size: 31px;
    line-height: 38px;
}
.article1 p {
    font-size: 17px;
}
.name1 {
    font-size: 50px;
    padding: 8.5px;
    width: 222px;
    height: 47px;
    font-size: 11px;
    background-color: black;
    color: white;
}
.button1 {
    font-size: 13px;
    padding: 7px;
    height: 45px;
    background: rgb(229, 9, 20);
    border-radius: 0.25rem;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 119px;
}
/* artciel2 */
.article2 {
    margin-top: 100px;
    padding: 11px 30px;
}
.arthead {
    font-size: 20px;
    font-family: sans-serif;
}
.item {
    border-radius: 8px;
    width: 132px;
    height: 172px;
    margin-right: 1px;
    margin-top: 15px;
}
.art2li1{
display: none;
} .art2li2
{
    display: none;
}
.boxhead{
    margin-bottom: 1px;
    
}
.article3{
    margin-bottom: 50px;
}

#box{
    margin-top: 15px;
}
/*  */
.art3 .head1 {
    font-size: 20px;
}
.art3 {
    margin-top: 100px;
    padding: 0px 47px;
}
.smallbox {
    font-size: 16px;
    border: 1px solid black;
    background-color: rgb(60, 59, 59);
    padding: 22px 15px;
    height: 67px;
    margin-top: 12px;
    font-family: sans-serif;
    position: relative;
}
.span1 {
    top: 19px;
    position: absolute;
    right: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.footerpart {
    display: grid;
    grid-template-columns: repeat(1, auto);
    text-decoration: underline;
    line-height: 34px;
    font-size: 15px;
    margin-left: -4rem;
    color: #948c8c;
}
}